
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0 50px;
    background-color: #ffebf0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: #d63384;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 500;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
}
.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    animation: fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
.gift-box {
    width: 120px;
    height: 120px;
    font-size: 80px;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 10px;
    animation: rotateAnimation 1s infinite;
    transition: transform 0.5s ease-in-out;
}
@keyframes rotateAnimation {
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}
.message {
    display: none;
    font-size: 18px;
    color: #d63384;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    animation: fadeIn 1s ease-in-out;
    white-space: pre-line; 
    text-align: justify;
    line-height: 1.6; 
    padding: 10px;
    overflow-wrap: break-word;
    max-height: 250px; 
    overflow-y: scroll; 
    scroll-behavior: smooth; 
}

.message::-webkit-scrollbar {
    width: 8px; 
}

.message::-webkit-scrollbar-thumb {
    background: #d63384; 
    border-radius: 10px; 
}

.message::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
.message:empty {
    display: none; 
}

.hearts {
    position: fixed;
    color: #ff4d79;
    font-size: 50px;
    animation: floatUp 2s ease-out infinite;
    opacity: 1;
}

@keyframes floatUp {
    from { transform: translateY(0); }
    to { transform: translateY(-150px); }
}
